header{
  background: url(head_Img.png) center;
}

.card:hover, .Picture:hover{
  box-shadow: 1px 1px 5px rgb(0, 122, 61);
}

.Picture:hover{    
  background-size: 105% 105%;
  transition: background-size .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.Picture{
  background-size:100% 100%;
}